@charset "UTF-08";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    text-align: center;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}


img{
    width: 100vw;
}

a{
    display: block;
    margin-top: -4px;
    background-color: black;
    text-decoration: none;
    padding: 25px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bolder;
    transition: 1s;
}

a:hover{
    background-color: white;
    color: black;
    transition: 1s;
}